.bg {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  position: absolute;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  top: 50%;
  border-radius: 50%;
  box-shadow: 0 0 20px 10px rgba(255, 255, 255, 0.5);
}

.fps {
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 800px;
  color: #000;
  opacity: 0.2;
  text-shadow: 0 4px 2px #fff;
}
