.bg {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  position: absolute;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
  top: 50%;
  border-radius: 50%;
}
